.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  gap: 2.5em;
  justify-content: center;
}

.main-head {
  font-size: 3em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-weight: bold;
}

.main-head-style {
  font-size: 2em;
  font-weight: bold;
}

.card-arrange {
  display: flex;
}

@media (max-width: 660px) {
  .card-list {
    justify-content: center;
  }

  .main-head {
    font-size: 2em;
  }

  .main-head-style {
    font-size: 1.5em;
  }

  .sub-head-style {
    font-size: 1.2em;
  }
}