.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card-arrange {
  display: flex;
}

@media (max-width: 660px) {
  .card-list {
    justify-content: center;
  }
  .main-head {
    font-size: 2.2em;
  }
  .sub-head {
    font-size: 1.2em;
  }
}
