#root {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.carousal-card {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageAttr {
  height: 250px;
  width: 450px;
}

.btnAttr {
  height: 3em;
}

@media (max-width: 500px) {
  .home {
    font-size: 0.7em;
  }
  .carousal-card {
    padding: 0;
    max-width: 100%;
  }
  #root {
    padding: 0.5rem;
  }
  .btnAttr {
    font-size: 0.5em;
  }
  .imageAttr {
    height: 100px;
    width: 200px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .carousal-card {
    padding: 0;
    max-width: 100%;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .imageAttr {
    height: 150px;
    width: 250px;
  }
}
